<div class="jumbotron mt-4">
    <img src="/images/logo.png" alt="Italian Trulli" style="width:200px;height:200px;text-align:center;">
   

    <h1 class="display-4">Alerta! COVID-19</h1>
    <p class="lead">
Aplicación de registro de visitas a locales tiendas y espacios públicos.

Mediante esta aplicación te enviaremos alertas en caso de que se hayan reportado casos de covid en alguna tienda o lugar que visitaste</p>
    <hr class="my-4">
    <img src="/images/banne2.jpg" alt="Italian Truelli" style="width:60%;height:30%;" >
    <hr class="my-4">
    <p>PINV20-120) Propuesta de intervención comunitaria para mejorar los hábitos de higiene y protección durante el aprovisionamiento y manipulación de productos de la canasta básica para la reducción de la propagación del virus SARS-CoV-2 Proyecto cofinanciado por el Consejo Nacional de Ciencia y Tecnología - CONACYT con recursos del FEEI"</p> 
</div> 